body {
  color: rgba(255,255,255);
  background-image: url("../assets/img/moroccan-flower-dark.png");
}

h1 {
  font-size: 64px;
  font-style: italic;
  text-align: center;
}

#hero {
  margin: 45px auto 30px auto;
  max-width: 650px;
  min-height: 300px;
  background-color: rgba(200,200,200, 0.3);
}